.alignright {
    float: right;
}

.centers {
    margin: auto;
    width: 260px;
    padding: 10px;
    height: 50%;
}

.centerLogin {
    width: 50%;
    padding: 10px;
    height: 50%;
}

.makelong {
    margin: auto;
    width: 260px;
    padding: 10px;
    height: 400px;
}

.spacer {
    height: 200px;
}

.colorpurplish {
    background-color: rgba(50, 19, 80, 0.247);
}

.boardersround {
    border: 4px solid #03193a3a;
    border-radius: 6%;
}

.arrange-horizontally>* {
    display: inline-block;
    text-align: center;
}

.arrange-vertically>* {
    display: block;
}