.centers {
    margin: auto;
    width: 50%;
    padding: 10px;
    height: 50%;
}

.spacer {
    height: 300px;
}

.colorpurplish {
    background-color: rgba(50, 19, 80, 0.247);
}

.boardersround {
    border: 5px solid #03193a3a;
    border-radius: 8%;
}

#parent {
    display: table;
    width: 100%;
}

#form_login {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}